/* 따라다니는 메뉴바 */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  #menu {
    height: 100%;
    position: fixed;
    background-color: #FED057;
    width: 250px;
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100%);
    left: 60px;
    z-index: 999;
  }

  #menu.expanded {
    transform: translateX(0%);
    left: 0px;
  }

  .menu-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }

  #blob {
    top: 0;
    z-index: -1;
    right: 60px;
    transform: translateX(100%);
    height: 100%;
    position: absolute;
  }

  #blob-path {
    height: 100%;
    fill:  #FED057;
  }

  .hamburger {
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -10px;  
  }

  .hamburger .line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
  }

  .hamburger .line:nth-child(2) {
    top: 50%;
    margin-top: -2px;
  }

  .hamburger .line:nth-child(3) {
    bottom: 0;
  }

  .m_ul{
    padding: 0;
    list-style: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .m_ul li {
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 20px 0;
    cursor: pointer;
    /* 추가적인 스타일링을 원하는 대로 적용하세요 */
  }
  .m_ul li:hover{
    scale: 1.2;
    
  }
  h2 {
    position: absolute;
     left: 50%;
    color: #fff;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
  }

  /* 비디오 */
  .bg-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.7;
  }
  
  /* .bg-video__content {
    height: 100vh;
    width: 100%;
    object-fit: cover; 
    
  } */
  .bg-video__content {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    transition: filter 0.5s ease; 
  }
  /* 내용 시작............. */
  .title{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-bottom: 5px solid black;
    background-color: rgba(214, 214, 214, 0.8)
   }
   .title h1{
    font-size: 50px;
    font-weight: 900;
    font-family: Arial, sans-serif;
   }
   .inner_title{
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;

    /* background-color: pink; */
   }
   .inner_title h1{
    font-size: 28px;
    font-weight: 900;
   }
   /* MAIN  */
   .MAIN{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
   }
   .scroll_bar{
    padding-top: 70px;
    font-size: 32px;

    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
   }
   .scroll_bar span{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
   }
   @-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }






   /* ++++++++++++++++++++메인 프로필 사진 +++++++++++++++++++++++++ */
   .profile_box{
    width: 1000px;
    height: 500px;
    background-color: rgba(55, 55, 55, 0.9);
    padding: 30px;
    border-radius: 20px;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   }
   .img_box{
    width: 300px;
    height: 300px;
    float: left;
   }
   .img_box img{
    width: 100%;
    border-radius: 20px;
   }
   .profile_txt_box{
    width: calc(100% - 300px);
    float: left;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
   }
   
   .pro_name{
    width: 100px;
    text-align: center;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    border-right: 3px solid rgb(255, 255, 255);
   }
   .name_contents{  
    width: calc(100% - 100px);
    padding: 0 0 0 20px;
   }
   .name_contents p,
   .pro_name p{
    width: 100%;
    height: 60px;
    color: white;
    line-height: 60px;
    font-size: 24px;
   }

/* ++++++++++++++++++++메인 프로필 사진 끝 +++++++++++++++++++++++++ */
   /*  ABOUT 시작 지점*/
   .ABOUT{
    width: 100%;
    height: 100vh;
    /* background-color: gray; */
   }
   .about_container{
    width: 1400px;
    height: 100vh;
    margin: 0 auto;
   }
/* Flexbox를 이용하여 요소들을 가로로 나란히 배치 */
.about_top,
.about_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* 내부 요소들의 스타일 */
.about_box,
.chnannel_box,
.education_box,
.experience_box {
  width: calc(50% - 20px); /* 여백 고려한 너비 설정 */
  margin-bottom: 20px; /* 아래 여백 추가 */
  /* 다른 스타일 속성 추가 */
}
  
   .about_contents{
    width: 100%;
    height: 100%;
    padding: 30px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-sizing: border-box;
   }
   /* 채널 */
   .chnannel_contents{
    width: 100%;
    height: 100%; 
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
   }

   .kakao_box,
   .discode_box,
   .git_box{
    width: 150px;
    height: 100px;
   }
   .kakao_box img,
   .discode_box img,
   .git_box img{
    width: 150px;
    height: 100px;
    border-radius: 50%;
   }
  
   

   .education_contents{
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    color: white;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-sizing: border-box;
   }

    
   .experience_contents{
    width: 100%;
    height: 100%;
    padding: 30px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-sizing: border-box;
   }

   /* TECH 시작 */
   .SKILL{
    width: 100%;
    height: 100vh;
    /* background-color: yellow; */
   }
   .skill_container{
    width: 1400px;
    height: 82%;
    margin: 0 auto;

    position: relative;
    top: 0;
   }
   .outer {
       /* width: 100%; */
       height: 80%;
       /* border: 1px solid; */
       display: flex;
       align-items: baseline;
       gap: 20px;
       position: absolute;
       left: 50%;
       top: 50%;
       transform: translate(-50%,-50%);
    }
    .bar_p {
        width: 100px; 
        height: 100%;
    }.bar {
      background: FED057;
      width: 100px;
      transform: scale(1, 0);
      transform-origin: bottom;
      transition: transform 0.5s ease; /* Adding transition property */
  
      /* Animation only when hovering */
      transition: transform 0.5s ease;
  }
    /* .bar {
        background: orange;
        width: 100px; 
        transform: scale(1, 0);
        transform-origin: bottom;

        animation: bar 1s forwards;
    } */
    /* Hover effect */
.SKILL:hover .bar {
  transform: scale(1, 1);
}

    .bar1 { height: 70%;}
    .bar2 { height: 60%;}
    .bar3 { height: 70%;}
    .bar4 { height: 80%;}
    .bar5 { height: 80%;}
    .bar6 { height: 70%;}
    .bar7 { height: 80%;}
    .bar8 { height: 80%;}
    .skill_img{
      width: 100px;
      margin-top: 10px;
    }
    .skill_img img{
      width: 100px;
      height: 100px;
    }
    .score p{
      font-size: 21px;
      font-weight: 900;
      text-align: center;
      padding: 8px;
      box-sizing: border-box;
    }

    @keyframes bar {
        0% { transform: scale(1,0);}
        100% { transform: scale(1,1);}
    }
    


      .PROJECTS{
        width: 100%;
        height: 100vh;
      }
      .project_container{
        width: 1400px;
        height: 100vh;
        padding: 50px;
        box-sizing: border-box;
        margin: 0 auto;
       }
       .bluehorizon_box{
        width: 1000px;
        margin: 0 auto;
       }
       .blue_img{
        width: 500px;
        height: 300px;
       }
       .blue_img img{
        width: 100%;
       }
    