/* 따라다니는 메뉴바 */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
  }
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

  #menu {
    height: 100%;
    position: fixed;
    background-color: #FED057;
    width: 250px;
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100%);
    left: 60px;
    z-index: 999;
  }

  #menu.expanded {
    transform: translateX(0%);
    left: 0px;
  }

  .menu-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }

  #blob {
    top: 0;
    z-index: -1;
    right: 60px;
    transform: translateX(100%);
    height: 100%;
    position: absolute;
  }

  #blob-path {
    height: 100%;
    fill:  #FED057;
  }

  .hamburger {
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -10px;  
  }

  .hamburger .line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
  }

  .hamburger .line:nth-child(2) {
    top: 50%;
    margin-top: -2px;
  }

  .hamburger .line:nth-child(3) {
    bottom: 0;
  }

  .m_ul{
    padding: 0;
    list-style: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .m_ul li {
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 20px 0;
    cursor: pointer;
    /* 추가적인 스타일링을 원하는 대로 적용하세요 */
  }
  .m_ul li:hover{
    scale: 1.2;
    
  }
  h2 {
    position: absolute;
     left: 50%;
    color: #fff;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
  }

  /* 메뉴바 끝 */

 /* 페이지 모두 100vh */

.MAIN,
.ABOUT,
.INTRODUCE,
.SKILL,
.PROJECTS{
  border-top: 1px solid;
  box-sizing: border-box;
}

.MAIN{
  width: 100%;
  /* height: 100vh; */
 }
 .MAIN img{
  /* width: 100%; */
 }


 .ABOUT{
  width: 100%;
  /* height: 100vh; */
}
.ABOUT img{
  /* width: 100%; */
  scale: 0.75;
  
}

.INTRODUCE{
  width: 100%;
  position: relative;
  top: 0;
}


.INTRODUCE img{
  /* width: 100%; */
  scale: 0.75;
}

.SKILL{
  width: 100%;
  /* height: 100vh; */
}
.SKILL img{
  /* width: 100%; */
  scale: 0.75;
}


.PROJECTS{
  width: 100%;

  position: relative;
  top: 0;
}
.PROJECTS img{
  scale: 0.75;
  
}
.BLUE_pdf_box{
  width: 100%;
  position: absolute;
  left: 12%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    
}




.ABC{
  width: 100%;
  position: relative;
  top: 0;
  /* height: 100vh; */
}
.ABC_link{
  position: absolute;
    top: 26%;
    right: 25%;
    font-size: 22px;
    font-family: fantasy;
    color: #5d5d5d;
    z-index: 1;
}
.ABC_link b{
  font-weight: 500;
}
.ABC_link:hover{
  color: red;
}
.ABC img{
  /* width: 100%; */
  scale: 0.8;
  /* height: 100vh; */
}


/* 푸터 */
footer{
  width: 100%;
  height: 500px;
  margin-bottom: 200px;

}
.foot_box{
  width: 1500px;
  margin: 0 auto;

  position: relative;
  top: 0;
}
.foot_title{
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  color: #5d5d5d;
  border-bottom: 1px solid #5d5d5d;

}
.chnnel_box{
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 100px 0;
  box-sizing: border-box;
}
.chnnel_box img{
  width: 140px;
  height: 140px;
}